# Project 4 -- [Ethan] [Wang]

**TA Help:** None

- NA
    
**Collaboration:** None
    
- NA

## Question 1

In [3]:
# This is the Starter Code
library(data.table)
# Because of the data.table library we are able to read the csv file into the myDF
myDF <- fread("/anvil/projects/tdm/data/death_records/DeathRecords.csv")
# Take the mean of the Age column before grouping by Sex column
tapply(myDF$Age, myDF$Sex, mean, na.rm = TRUE)

       F        M
76.67668 70.22786

Using the data.table package in R we were able to read the CSV file. We then use the fread function to read in the csv file before using the tapply function to gather the average values from the Age column sorted by the Sex column. The na.rm with the parameter to true then removed missing values.

## Question 2

In [2]:
# This is the Starter Code
library(data.table)
# Because of the data.table library we are able to read the csv file into the myDF
myDF <- fread("/anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv")
# Take the sum from the SPEND column before grouping by PRODUCT_NUM
# Sort the value in order to order them from least to greatest
# Then take the tail value with the 10 parameter to show the top ten greatest values
tail(sort(tapply(myDF$SPEND, myDF$PRODUCT_NUM, sum, na.rm = TRUE)), 10)

    89415      8523   1344763   4889358     85201    766108     74424     85311
 50032.42  53845.65  58170.84  63823.61  65605.34  66085.00  75787.49 102928.59
  1367192      8511
111433.78 131399.78

With the sort function sort the values from least to greatest which then provided the largest values at the end. Using the tail function I was able to select the last ten values which were the  largest ten values.

## Question 3

In [6]:
# This is the Starter Code
library(data.table)
# Because of the data.table library we are able to read the csv file into the myDF
myDF <- fread("/anvil/projects/tdm/data/beer/reviews_sample.csv")
# Find the column names
# head(myDF)
# Take the mean from the score column before grouping by date
# Sort the value in order to order them from least to greatest
# Then take the tail value with the 3 parameter to show the top 3 greatest values which would be the highest scores of 5
tail(sort(tapply(myDF$score, myDF$date, mean, na.rm = TRUE)), 3)

2001-04-26 2001-06-18 2002-01-26
         5          5          5

Using the data.table package in R we were able to read the CSV file. We then use the fread function to read in the csv file before using the tapply function to gather the average values from the score column sorted by the date column. The na.rm with the parameter to true then removed missing values. With the sort function sort the values from least to greatest which then provided the largest values at the end. Using the tail function I was able to select the last three values which were the  largest three values. In the end, the last three largest values will be have the largest score possible that is 5.

## Question 4

In [1]:
# This is the Starter Code
library(data.table)
# Because of the data.table library we are able to read the csv file into the myDF
myDF <- fread("/anvil/projects/tdm/data/election/itcont1980.txt", quote="")
names(myDF) <- c("CMTE_ID", "AMNDT_IND", "RPT_TP", "TRANSACTION_PGI", "IMAGE_NUM", "TRANSACTION_TP", "ENTITY_TP", "NAME", "CITY", "STATE", "ZIP_CODE", "EMPLOYER", "OCCUPATION", "TRANSACTION_DT", "TRANSACTION_AMT", "OTHER_ID", "TRAN_ID", "FILE_NUM", "MEMO_CD", "MEMO_TEXT", "SUB_ID")
# Find the column names
# head(myDF)
# Take the sum from the TRANSACTION_AMT column before grouping by the vector of CITY and STATE which creates the value of city, state
# Sort the value in order to order them from least to greatest
# Then take the tail value with the 20 parameter to show the top twenty greatest values
tail(sort(tapply(myDF$TRANSACTION_AMT, paste(myDF$CITY, myDF$STATE, sep=", "), sum, na.rm = TRUE)), n=20)

   CINCINNATI, OH        DENVER, CO       MIDLAND, TX    WASHINGTOM, DC
          1096983           1183471           1210584           1300341
    GREENWICH, CT         TULSA, OK         MIAMI, FL   SAN ANTONIO, TX
          1340112           1341956           1541867           1583292
     ST LOUIS, MO OKLAHOMA CITY, OK       ATLANTA, GA BEVERLY HILLS, CA
          1639570           1751431           1892356           2053148
SAN FRANCISCO, CA       CHICAGO, IL    WASHINGTON, DC   LOS ANGELES, CA
          2061441           3179470           4273606           4569952
       DALLAS, TX       HOUSTON, TX      NEW YORK, NY                ,
          4748262           7606806          11345027          17299729

Using the data.table package in R we were able to read the CSV file. We then use the fread function to read in the csv file before using the tapply function to gather the sum values from the TRANSACTION_AMT column sorted by the CITY and STATE. The na.rm with the parameter to true then removed missing values. With the sort function, sort the values from least to greatest which then provided the largest values at the end. Using the tail function I was able to take the tail value with the 20 parameter to show the top twenty greatest values

## Question 5

In [24]:
# This is the Starter Code
library(data.table)
# Because of the data.table library we are able to read the csv file into the myDF
myDF <- fread("/anvil/projects/tdm/data/flights/subset/1990.csv", quote="")
# Find the column names
# head(myDF)
# Take the average from the DepDelay column before grouping by the vector that is the date made up of Month, DayofMonth, Year
# Sort the value in order to order them from least to greatest
# Then take the tail value with the 6 parameter to show the top 6 greatest values (time delays)
tail(sort(tapply(myDF$DepDelay, paste(myDF$Month, myDF$DayofMonth, myDF$Year, sep="/"), mean, na.rm = TRUE)), n=6)

12/20/1990  2/15/1990  2/16/1990 12/28/1990 12/22/1990 12/21/1990
  27.34540   28.12302   36.19422   43.91443   45.22225   45.66178

Using the data.table package in R we were able to read the CSV file. We then use the fread function to read in the csv file before using the tapply function to gather the average values from the DepDelay column sorted by the date made up of Month, DayofMonth, Year. The na.rm with the parameter to true then removed missing values. With the sort function, sort the values from least to greatest which then provided the largest values at the end. Using the tail function I was able to take the tail value with the 6 parameter to show the top 6 greatest values (time delays)

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.