# Project 12 -- [Ethan] [Wang]

**TA Help:** NA

- NA
    
**Collaboration:** NA
    
- NA

## Question 1

In [1]:
# This is the Starter Code
library(data.table)
options(repr.matrix.max.cols = 50)

# Part a: Read first 1000 rows to inspect columns
data_sample <- fread("/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv", nrows = 1000)
colnames(data_sample)

# Answer: Columns containing the requested information:
# Store Number: "Store Number", Store Name: "Store Name",
# Address: "Address", City: "City", Zip Code: "Zip Code"

# Part b: Read the entire dataset with only the selected columns
data_selected <- fread("/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv",
                       select = c("Store Number", "Store Name", "Address", "City", "Zip Code"))
dim(data_selected)  # Get dimensions of the data

 [1] "Invoice/Item Number"   "Date"                  "Store Number"
 [4] "Store Name"            "Address"               "City"
 [7] "Zip Code"              "Store Location"        "County Number"
[10] "County"                "Category"              "Category Name"
[13] "Vendor Number"         "Vendor Name"           "Item Number"
[16] "Item Description"      "Pack"                  "Bottle Volume (ml)"
[19] "State Bottle Cost"     "State Bottle Retail"   "Bottles Sold"
[22] "Sale (Dollars)"        "Volume Sold (Liters)"  "Volume Sold (Gallons)"

[1] 27050143        5

Using the data.table package in R we were able to read the CSV file. We then use the fread function to read in the csv file.

## Question 2

In [ ]:
# This is the Starter Code
library(data.table)
options(repr.matrix.max.cols = 50)

# Read first 1000 rows to inspect columns
data_sample <- fread("/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv", nrows = 1000)

# Read the entire dataset with only the selected columns
data_selected <- fread("/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv",
                       select = c("Store Number", "Store Name", "Address", "City", "Zip Code"))

# Part a: 10 most popular Store Numbers
store_number_table <- table(data_selected$`Store Number`)
top_store_numbers <- sort(store_number_table, decreasing = TRUE)[1:10]

# Part b: 10 most popular Store Names
store_name_table <- table(data_selected$`Store Name`)
top_store_names <- sort(store_name_table, decreasing = TRUE)[1:10]

# Part c: 10 most popular combinations of Address, City, and Zip Code
address_city_zip <- paste(data_selected$Address, data_selected$City, data_selected$`Zip Code`)
address_city_zip_table <- table(address_city_zip)
top_address_city_zip <- sort(address_city_zip_table, decreasing = TRUE)[1:10]

# Print results
top_store_numbers
top_store_names
top_address_city_zip

Using the data.table package in R we were able to read the CSV file. We then use the fread function to read in the csv file.

## Question 3

In [ ]:
# This is the Starter Code
library(data.table)
# Read only the required columns
sales_data <- fread("/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv",
                    select = c("Zip Code", "Category Name", "Sale (Dollars)"))

# Ensure "Sale (Dollars)" is numeric
sales_data$`Sale (Dollars)` <- as.numeric(gsub("\\$", "", sales_data$`Sale (Dollars)`))

# Part a: Sum of sales by Zip Code
zip_code_sales <- tapply(sales_data$`Sale (Dollars)`, sales_data$`Zip Code`, sum, na.rm = TRUE)
top_zip_sales <- sort(zip_code_sales, decreasing = TRUE)[1:10]

# Part b: Sum of sales by Category Name
category_sales <- tapply(sales_data$`Sale (Dollars)`, sales_data$`Category Name`, sum, na.rm = TRUE)
top_category_sales <- sort(category_sales, decreasing = TRUE)[1:10]

# Print results
top_zip_sales
top_category_sales

Using the data.table package in R we were able to read the CSV file. We then use the fread function to read in the csv file.

## Question 4

In [ ]:
# This is the Starter Code
library(data.table)
# Read only the 10th and 15th fields from the file
election_data <- fread("/anvil/projects/tdm/data/election/itcont2020.txt", 
                       select = c(10, 15), col.names = c("State", "Donation Amount"))

# Ensure "Donation Amount" is numeric
election_data$`Donation Amount` <- as.numeric(election_data$`Donation Amount`)

# Sum donations by state
state_donations <- tapply(election_data$`Donation Amount`, election_data$State, sum, na.rm = TRUE)
top_state_donations <- sort(state_donations, decreasing = TRUE)[1:10]

# Print results
top_state_donations

Using the data.table package in R we were able to read the CSV file. We then use the fread function to read in the csv file.

## Question 5

In [1]:
# This is the Starter Code
library(data.table)
# Read first 10 lines to inspect the genres column
imdb_sample <- fread("/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv", nrows = 10)
genres_sample <- imdb_sample$genres

# Apply the string splitting and count occurrences
genre_list <- strsplit(genres_sample, ',')
unlisted_genres <- unlist(genre_list)
genre_count_sample <- table(unlisted_genres)

# Print genre counts for the first 10 lines
genre_count_sample

# Part b: Analyze the entire dataset
imdb_genres <- fread("/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv", select = "genres")
all_genres <- unlist(strsplit(imdb_genres$genres, ','))
genre_count_full <- table(all_genres)

# Print full dataset genre counts
genre_count_full

unlisted_genres
  Animation      Comedy Documentary     Romance       Short       Sport
          3           2           3           2           8           1

Warning message in fread("/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv", :
"Found and resolved improper quoting out-of-sample. First healed line 242860: <<tt0253684	tvEpisode	"Rome br<c3><bb>le" (Portrait de Shirley Clarke)	"Rome br<c3><bb>le" (Portrait de Shirley Clarke)	0	1970		54	Documentary>>. If the fields are not quoted (e.g. field separator does not appear within any field), try quote="" to avoid this warning."

all_genres
     Action       Adult   Adventure   Animation   Biography      Comedy
     462531      353525      425130      556566      119759     2181847
      Crime Documentary       Drama      Family     Fantasy   Film-Noir
     459412     1062294     3151064      824607      234269         873
  Game-Show     History      Horror       Music     Musical     Mystery
     424919      165528      202434      418888       92140      225390
       News  Reality-TV     Romance      Sci-Fi       Short       Sport
    1051399      624854     1045327      117541     1191319      271872
  Talk-Show    Thriller         War     Western
    1372500      184618       38662       30931

Using the data.table package in R we were able to read the CSV file. We then use the fread function to read in the csv file.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.